In [57]:
import pandas as pd
import numpy as np

참고 논문 : https://www.kpf.or.kr/front/research/selfDetail.do?seq=591492 75페이지~

## 데이터 불러오기

In [58]:
df = pd.read_csv('../data/totalNews.csv')
df

,Unnamed: 0,뉴스 식별자,일자,언론사,기고자,제목,통합 분류1,통합 분류2,통합 분류3,사건/사고 분류1,사건/사고 분류2,사건/사고 분류3,인물,위치,기관,키워드,특성추출(가중치순 상위 50개),본문,URL,분석제외 여부
0,0,1.100611e+06,20230115,서울신문,"이주원,김지예",[단독] 조희연 “초등 1~2학년 학폭 대상 제외 학폭법 개정 나설 것”,사회>교육_시험,NaN,NaN,범죄>범죄일반>폭행,NaN,NaN,경미,"함양,서울,대구,적도,서울시","서울시교육청,서울시교육감,전국시도교육감협의회,시도교육감협의회,강남서초교육지원청,경기...","조희연,초등,학년,학폭,대상,제외,학폭법,개정,교육,회복,학폭위,목적,화해,부작용,...","학폭,학폭위,학부모,학폭법,학생부,교육감,맞학폭,서울신문,학교폭력,학생들",교육적 회복 사라진 학폭위…궁극적 목적은 화해생기부 기재 부작용 커…가벼운 사안은 ...,http://www.seoul.co.kr/news/newsView.php?id=20...,NaN
1,1,1.100611e+06,20230115,서울신문,홍지민,"하윤기, 덩크 9방에 생애 첫 올스타전 MVP",스포츠>축구,스포츠>농구_배구,스포츠>올림픽_아시안게임,사고>스포츠사고,NaN,NaN,NaN,"울산,전주,서울,준결승전,경기,영광,창원,아반도,필리핀,아시아,안양,대구,문성곤","한국가스공사,KGC,SK,kt,KCC,랜드리,LG,렌즈 아반도,아셈,삼성,현대모비스...","하윤기,덩크,생애,올스타전,MVP,이대성,제압,허웅,전성현,3점,분전,허웅,생애,3...","허웅,덩크,올스타전,3점,하윤기,이대성,kt,전성현,외국인,팬투표,덩크슛,9개,서울...","팀 이대성, 122-117로 팀 허웅 제압…전성현 3점슛 9개 분전허웅, 생애 첫 ...",http://www.seoul.co.kr/news/newsView.php?id=20...,NaN
2,2,1.100611e+06,20230115,서울신문,이민영,강원택 서울대 교수 인터뷰 “중대선거구제 반대했지만 입장 바뀌었다...양당제 폐해 ...,정치>국회_정당,정치>선거,정치>행정_자치,NaN,NaN,NaN,"강원택,강,윤석열","독일,미국,대구,대만,호남,한국,영남","국민의당,민주당,일본,유럽,정치개혁특별위원회,더불어민주당,서울대,국회,한국,수도권,...","강원택,서울대,교수,인터뷰,중대,선거구,반대,폐해,입장,양당,다당제,중대선거구제,비...","선거구,중대선거구제,한국,선거제도,다당제,비례대표제,비례대표,독일식,미국,지역구,유...",“다당제 위해서라면 중대선거구제라도 도입해야”“독일식 연동형 비례대표제 가장 바람직...,http://www.seoul.co.kr/news/newsView.php?id=20...,NaN
3,3,1.100611e+06,20230115,서울신문,신진호,"장제원, 나경원 향해 “제2의 유승민 되지 말기를”",정치>국회_정당,정치>선거,정치>청와대,NaN,NaN,NaN,"유승민,김기현,나경원,장제원,전,유일한,장,조원진,윤석열,유 전,마키아벨리","을,동구,파동,대구","친박,정부,친박계,파동,대한민국,진박감별사,새누리당,페이스북,국민의힘","장제원,나경원,제2,유승민,제2,진박감별사,나경원,비판,응수,나경원,국민,의원,출마...","감별사,새누리당,유승민,박근혜,나경원,마키아벨리,친박,진박,진박감별사,페이스북,장제...","“제2의 진박감별사가 당 쥐락펴락” 나경원 비판에 응수 ▲ 국민의힘 장제원 의원, ...",http://www.seoul.co.kr/news/newsView.php?id=20...,NaN
4,4,1.100611e+06,20230115,서울신문,김상현,부산-대구 고속도로 역주행 1명 사망 음주운전 추정,지역>대구,지역>강원,지역>경남,NaN,NaN,NaN,NaN,"남천면,경북,대구부,경산시,대구,부산-대구","경찰,K3","부산,대구,고속도,사망,역주행,음주,운전,추정,15일,지점,경북,경산시,남천면,대구...","운전자,역주행,마티즈,승용차,대구,81km,동승자,경북,대구부산고속도로,관계자,경산...",▲ 마티즈와 K3가 정면 충돌한 사고 현장에서 소방대원과 경찰이 사고를 수습하고 있...,http://www.seoul.co.kr/news/newsView.php?id=20...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82743,82743,2.100311e+06,20230820,서울경제,안유진 인턴기자,5번째 일본발 테러 협박 예고시간 모두 '3시 34분' 의미가 뭐길래?,국제>일본,국제>중남미,국제>아시아,범죄>범죄일반>사기,사회>사회문제>미성년범죄,NaN,"다카히로,가라사","안산,안양,일본,대구,부천,인천,성남","대사관,일본프로야구,다이이치,경찰,서울시청,더불어민주당,트위터,대법원,가라사,도쿄변...","5번,협박,일본발,테러,예고시간,의미,일본발,테러,예고,장소,예고,고정,타인,조롱,...","일본,변호사,2ch,한신,일본발,악플,온라인,다이이치,최종전,이재명",지난 16일 인천시청에 폭발물을 설치했다는 신고가 접수돼 경찰특공대와 탐지견이 폭발...,http://www.sedaily.com/NewsView/29THBXYGJF,NaN
82744,82744,2.100311e+06,20230820,서울경제,이승령 기자,이러니 치안 불안할 수 밖에 현장 누빌 순경 1.4만명 부족,지역>광주,지역>부산,지역>울산,NaN,NaN,NaN,"순경,정우택","경기북,경기남부,서울,부산,대구,인천,경남,지구대","서울경찰청,행정안전위원회,국회,경찰청,경창청,국민의힘,비간부","치안,불안,현장,1.4,누빌,순경,1.4,부족,경감,경위,경정,간부직,정원,사건,시...","경찰관,경찰청,퇴직자,서울,시도경찰청,치안현장,경찰관들,정우택,3만,6급,국민의힘,...",윤희근 경찰청장이 18일 충북 충주시 중앙경찰학교에서 열린 신임경찰 제312기 졸업...,http://www.sedaily.com/NewsView/29THCKN45F,NaN
82745,82745,2.100311e+06,20230820,서울경제,김태원 기자,“당당하게 벗은 내가 문제냐?” 비키니 라이딩女 이번에는 부산 대구에 떴다,사회>여성,NaN,NaN,범죄>기업범죄>거래제한,범죄>범죄일반>방화,NaN,"정하늘,채아인","서울경제,서울,강남,부산,홍대,테헤란로,대구,해운대,부산역 인근,잠실,도심,동성로","트위치,경찰,MIB,잠실","라이딩,부산,대구,서울,강남,홍대,잠실,도심,수영복,오토바이,킥보드,비키니,라이딩,...","해운대,부산,해방감,대구,서울,정씨,잠실,홍대,수영복,채아인,스트리머,서울경제,현수...",부산 해운대 앞에서 현수막을 들고 있는 여성들. 사진 제공=독자서울 강남·홍대·잠실...,http://www.sedaily.com/NewsView/29TH914V50,NaN
82746,82746,2.100311e+06,20230819,서울경제,최성욱 기자,[오늘의 날씨]낮 최고 33도 무더위 일부 지역 소나기,사회>날씨,지역>제주,지역>충남,사고>스포츠사고,NaN,NaN,NaN,"전라,서해,충북,경기,충남,제주도,남해안,동해,강원,전라권,경북,경상,대전,세종,대...","동부,제주도,중부지방","무더위,최고,지역,소나기,경기,동부,강원,토요일,19일,지역,기온,33도,전국,무더...","33도,전라,대구,동해,제주도,강원,서해,남해,앞바다,안전사고,시설물,충청,강수량,...",무더운 날씨를 기록한 지난 14일 서울 경복궁을 찾은 관광객들이 양산으로 햇볕을 피...,http://www.sedaily.com/NewsView/29TGTPBCOY,NaN
82747,82747,2.100311e+06,20230818,서울경제,김은미 인턴기자,"'킥라니' 여학생들 한밤 교차로 불쑥 ""손발 떨려서 일 접었다""",사회>교육_시험,문화>방송_연예,사회>미디어,NaN,NaN,NaN,"한문철,A 씨",대구,"유튜브,달서구","교차,여학생,전동,킥보드,교차로,무단횡단,10대,모습,택시,기사,사연,공개,킥보드,...","킥보드,여학생,한문철,10대,변호사,50대,교차로,운전자,유튜브,기둥,기사님,보행자...",사진=유튜브채널 ‘한문철 TV’ 캡처전동 킥보드를 타고 교차로를 무단횡단한 10대들...,http://www.sedaily.com/NewsView/29TGFLGO0L,NaN

In [59]:
df.dropna(subset = ['본문'], inplace = True)

# 뉴스신뢰도 분석 요인

## (1) 기자명, email

In [60]:
Name = df[~df.기고자.isna()]['본문']
Name

0        교육적 회복 사라진 학폭위…궁극적 목적은 화해생기부 기재 부작용 커…가벼운 사안은 ...
1        팀 이대성, 122-117로 팀 허웅 제압…전성현 3점슛 9개 분전허웅, 생애 첫 ...
2        “다당제 위해서라면 중대선거구제라도 도입해야”“독일식 연동형 비례대표제 가장 바람직...
3        “제2의 진박감별사가 당 쥐락펴락” 나경원 비판에 응수 ▲ 국민의힘 장제원 의원, ...
4        ▲ 마티즈와 K3가 정면 충돌한 사고 현장에서 소방대원과 경찰이 사고를 수습하고 있...
                               ...
82743    지난 16일 인천시청에 폭발물을 설치했다는 신고가 접수돼 경찰특공대와 탐지견이 폭발...
82744    윤희근 경찰청장이 18일 충북 충주시 중앙경찰학교에서 열린 신임경찰 제312기 졸업...
82745    부산 해운대 앞에서 현수막을 들고 있는 여성들. 사진 제공=독자서울 강남·홍대·잠실...
82746    무더운 날씨를 기록한 지난 14일 서울 경복궁을 찾은 관광객들이 양산으로 햇볕을 피...
82747    사진=유튜브채널 ‘한문철 TV’ 캡처전동 킥보드를 타고 교차로를 무단횡단한 10대들...
Name: 본문, Length: 77539, dtype: object

- 실명 기자 명, 이메일이 있을 경우 1점
- 실명 기자 명만 있을 경우에는 0.8점,

In [255]:
Name_email = [idx for idx, val in zip(Name.index, Name.values) if '@' in str(val)]
Name_noemail = [idx for idx, val in zip(Name.index, Name.values) if '@' not in str(val)]

In [256]:
Name_email_df = pd.DataFrame([Name_email,[1,] * len(Name_email)]).T
Name_noemail_df = pd.DataFrame([Name_noemail,[0.8,] * len(Name_noemail)]).T
Name_noemail_df[0] = Name_noemail_df[0].astype(int)
Name_ = pd.concat([Name_noemail_df, Name_email_df]).sort_values(0)

In [257]:
Name_

           0    1
0          0  0.8
1          1  0.8
0          2  1.0
2          3  0.8
3          4  0.8
...      ...  ...
44480  82743  0.8
44481  82744  0.8
44482  82745  0.8
44483  82746  0.8
44484  82747  0.8

[77539 rows x 2 columns]

- 비실명 기자 명일 경우에는 0점  =>  판단불가능하므로 제외
- 기자 명 없이 이메일만 있을 경우에는 0점  
- 기자 명 및 이메일이 아예 없을 경우에는 -1점

In [238]:
noName=df[df.기고자.isna()]['본문']
noName

24       평산마을 사저의 책장 앞에 선 문재인 전 대통령. 한길사 제공47년째 출판 외길을 ...
59       월요일인 16일 전국이 대체로 흐리다가 오후부터 차차 맑아지겠다.  강원 영서는 새...
74       일요일인 15일은 전국이 흐리고 비 또는 눈이 내린다.  강원도에는 눈이 내리고, ...
91       일요일 기준 12주 만에 최소 신규확진…위중증 499명·사망 37명코로나19 신규 ...
123      강원영동·경북북동산지에 많은 눈최저기온 -2~7도…낮 최고 0~9도기온 내려가 중부...
                               ...
80765    특허청 <전보> ◇과장급 ▲산업재산데이터관리과장 김곤희 ▲인공지능빅데이터심사과장 전...
80792    정수근 대구환경운동연합 사무처장대구 달성군은 구지면 낙동강에서 수상레포츠 시설인 '...
80838    정연승 단국대 교수, 서비스마케팅학회장2012년 '골목상권'이라 불리는 중소유통보호...
80860    ▲법제사법위 = 헌법재판소(사무처), 헌법재판연구원(10:00, 국회) 군사법원(1...
80862    ▲법제사법위 = 감사원(10:00, 국회)▲정무위 = 국가보훈부, 한국보훈복지의료공...
Name: 본문, Length: 2507, dtype: object

In [265]:
noName_email = [idx for idx, val in zip(noName.index, noName.values) if '@' in val]
noName_noemail = [idx for idx, val in zip(noName.index, noName.values) if '@' not in val]

In [266]:
noName_email_df = pd.DataFrame([noName_email,[0,] * len(noName_email)]).T
noName_noemail_df = pd.DataFrame([noName_noemail,[-1,] * len(noName_noemail)]).T
noName_noemail_df[0] = noName_noemail_df[0].astype(int)
noName_ = pd.concat([noName_noemail_df, noName_email_df]).sort_values(0)

In [267]:
noName_

          0  1
0        24 -1
1        59 -1
2        74 -1
3        91 -1
4       123 -1
...     ... ..
2382  80765 -1
2383  80792 -1
2384  80838 -1
2385  80860 -1
2386  80862 -1

[2507 rows x 2 columns]

In [276]:
df_kija = pd.concat([noName_,Name_])
df_kija.sort_values(0, inplace=True)
df_kija.set_index(0, inplace=True)
df_kija

         1
0
0      0.8
1      0.8
2      1.0
3      0.8
4      0.8
...    ...
82743  0.8
82744  0.8
82745  0.8
82746  0.8
82747  0.8

[80046 rows x 1 columns]

## (2) 기사길이

- 기사의 길이는 
0, 0.165, 0.33, 0.495, 0.66, 0.835, 1 등 7단계의 값

In [270]:
mean_ = df[df['본문'].apply(lambda x: isinstance(x, str))]['본문'].apply(lambda x: len(x)).mean()
sd_ = df[df['본문'].apply(lambda x: isinstance(x, str))]['본문'].apply(lambda x: len(x)).std()

In [271]:
def lenScore(x):
    if x < mean_:
        score = 0
    elif x < mean_ + 0.5*sd_:
        score = 0.165
    elif x < mean_ + sd_:
        score = 0.33
    elif x < mean_ + 1.5*sd_:
        score = 0.495
    elif x < mean_ + 2*sd_:
        score = 0.66
    elif x < mean_ + 2.5*sd_:
        score = 0.835
    else:
        score = 1

    return score

In [275]:
df_body=df.본문.apply(lambda x: lenScore(len(x)))
df_body

0        1.000
1        0.165
2        0.495
3        0.165
4        0.000
         ...
82743    0.165
82744    0.165
82745    0.165
82746    0.000
82747    0.000
Name: 본문, Length: 80046, dtype: float64

## (3) 인용문의 수

-  인용문이 0개일 경우는 0점, 
1개일 경우는 1/15며, 15개 이상일 경  1점

In [67]:
df['본문'][0].count('“')

6

In [277]:
df_inyong = df['본문'].apply(lambda x: x.count('“')/2 if x.count('“')/2 < 15 else 1 if x.count('“')/2 >= 15 else 0) 
df_inyong

0        3.0
1        1.0
2        5.5
3        6.0
4        0.0
        ...
82743    0.0
82744    3.0
82745    4.5
82746    0.5
82747    2.0
Name: 본문, Length: 80046, dtype: float64

## (4) 제목의 길이

제목의 길이가 45자를 넘으면 감점

In [278]:
df['제목'].apply(lambda x: -1 if len(x) > 45 else 0)
df_head = df['제목'].apply(lambda x: -1 if len(x) > 45 else 0)

## (5) 제목 물음표 느낌표 수

In [279]:
df_headspecial=df['제목'].apply(lambda x: -0.5 if  x.count('!') + x.count('?') == 1 else -1 if x.count('!') + x.count('?') >= 2 else 0 ) == -1
df_headspecial

0        False
1        False
2        False
3        False
4        False
         ...
82743    False
82744    False
82745    False
82746    False
82747    False
Name: 제목, Length: 80046, dtype: bool

## (6) 수치 인용 수

- 평균 이하는 0점, 0~0.5SD=0.33, 0.5SD~1SD=0.66, 1SD 이상 = 1

In [280]:
numDF = df.본문.str.extract('(\d+)')
numDF.fillna(0,inplace=True)
numDF = numDF.astype('int64')

In [282]:
numMean_=numDF[0].mean() 
numStd_ =numDF[0].std()
df_num = numDF[0].apply(lambda x: 0 if x <numMean_ else 0.33 if x <numMean_+0.5*numStd_ else 0.66 if x <numMean_+numStd_ else 1)
df_num

0        0
1        0
2        0
3        0
4        0
        ..
82743    0
82744    0
82745    0
82746    0
82747    0
Name: 0, Length: 80046, dtype: int64

## (7) 기사 내 이미지의 수
- 기사 본문 내 이미지 개수가 0개는 0점, 1개 0.33, 2개 
0.66, 3개 1점, 4개 0.66점, 5개 0.33점 6개 이상 0점을 부여<br>
 이미지 데이터는 활용하지 않은 프로젝트이므로 이 요인은 배제한다.

## (8) 평균 문장의 길이

평균 문장의 길이보다 1 표준편차
이상 길 경우에는 감점 1점을 부여하고 그 외에는 모두 0점

In [283]:
sentenceMean=df.본문.apply(lambda x: len(x.split('.'))).mean()
sentenceStd=df.본문.apply(lambda x: len(x.split('.'))).std()

In [284]:
df_sentence=df.본문.apply(lambda x: -1 if len(x.split('.')) > sentenceMean + sentenceStd else 0)
df_sentence

0       -1
1        0
2       -1
3        0
4        0
        ..
82743    0
82744    0
82745    0
82746    0
82747    0
Name: 본문, Length: 80046, dtype: int64

## (9) 제목의 부사 수

- 제목에 사용된 부사 수가 0개에서 1개까지는  감점하지 
않고, 2개를 사용했을 경우에는 0.5점  감점, 3개 이상 사용했을 경우에는 1점을
감점

In [286]:
from konlpy.tag import Okt
okt = Okt()

In [287]:
def title_adverbs(text):

    pos_tag = okt.pos(text)
    adv__ = [word for word, pos in pos_tag if pos == 'Adjective' and len(word) != 1]
    if len(adv__) <= 1:
        score = 0
    elif len(adv__) == 2:
        score = -0.5
    else: 
        score = -1
    
    return score

In [288]:
df_headAdj=df.제목.apply(title_adverbs)
df_headAdj

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
82743    0.0
82744    0.0
82745    0.0
82746    0.0
82747    0.0
Name: 제목, Length: 80046, dtype: float64

## (10) 문장당 평균 부사 수
- 사용된 부사의 수를  추출하고 이를 기사 본문의 문장 수로 나눠 1개 문장당 평균 부사의 수를 산출
- 지나치게 많은 것에만 감점을 부여하기로 결정하고 평균 문장당 부사 수보다 2 표준편차보다 많은 경우에만 1점 감점

In [137]:
def body_adverbs(text):
    adject_ = [word for word, pos in okt.pos(text) if pos == 'Adjective' and len(word) != 1]
    criteria_ = len(adject_)/len(text.split('.'))

    return criteria_

In [138]:
body_adverbs=df.제목.apply(body_adverbs)
body_adverbs_std = body_adverbs.std()
body_adverbs_mean_ = body_adverbs.mean()
body_adverbs_score=body_adverbs.apply(lambda x: -1 if x > body_adverbs_mean_+2*body_adverbs_std else 0)
body_adverbs_score

## (11) 기사 본문 중 인용문의 비중 
- 전체 기사에서 인용문의 비중이 0.5~0.8까지는 -0.5, 0.8이상은  –1점

In [171]:
text = df['본문'][0]
substring1 = '“'
substring2 = '”'
indices1 = [i for i in range(len(text)) if text.startswith(substring1, i)]
indices2 = [i for i in range(len(text)) if text.startswith(substring2, i)]
np.sum(np.array(indices2) - np.array(indices1))   # 인용문 길이 합
np.sum(np.array(indices2) - np.array(indices1))/len(text)  # 인용문 비중

0.7252013808975835

In [185]:
def inyong(text):
    substring1 = '“'
    substring2 = '”'
    indices1 = [i for i in range(len(text)) if text.startswith(substring1, i)]
    indices2 = [i for i in range(len(text)) if text.startswith(substring2, i)]
    
    if len(indices1) != len(indices2):
        min_ = min(len(indices1), len(indices2))
        indices1 = indices1[:min_]
        indices2 = indices2[:min_]
    
    percent_ = np.sum(np.array(indices2) - np.array(indices1))/len(text)      # 인용문 비중
    
    if percent_ >= 0.8:
        score = -1
    elif percent_ >= 0.5:
        score = -0.5
    else:
        score = 0
    return score

In [289]:
df_inyongPercent=df.본문.apply(inyong)
df_inyongPercent

0       -0.5
1        0.0
2       -0.5
3        0.0
4        0.0
        ...
82743    0.0
82744    0.0
82745    0.0
82746    0.0
82747    0.0
Name: 본문, Length: 80046, dtype: float64

## 가치 점수

- 독이성 : 기자 명 + 기사 길이  + 인용문 수 + 제목 길이  + 제목 물음표･느낌표 + 수치 인용 수 + 이미지 수 + 평균 문장 길이  + 제목 부사 수 + 문장 평균 부사
- 투명성 : 기자 명 + 기사 길이  + 인용문 수 + 제목 물음표･느낌표+수치 인용 수 + 이미지 수 + 인용문 비중
- 사실성 : 기자 명  + 기사 길이 + 인용문 수  + 제목 물음표･느낌표 + 수치 인용 수 + 이미지 수  + 제목 부사 수  + 문장 평균 부사 수  + 인용문 비중
- 유용성 : 기자 명 + 기사 길이 + 인용문 수 + 수치 인용 수  + 이미지 수
- 균형성 : 기자 명 + 기사 길이  + 인용문 수 + 제목 물음표･느낌표 + 제목 부사 수 + 문장 평균 부사 수 + 인용문 비중
- 다양성 : 기자 명 + 기사  길이  + 인용문 수 + 제목  길이  + 수치 인용수 + 이미지 수  + 평균 문장 길이  + 인용문 비중 
- 독창성 : 기자 명 + 기사 길이 + 인용문 수 + 제목 물음표･느낌표 + 수치 인용수 + 이미지 수
- 중요성 : 기자 명 + 기사 길이 + 인용문 수 + 수치 인용 수  + 이미지 수
- 심층성 : 기자 명 + 기사 길이 + 인용문 수  + 수치 인용 수 + 이미지 수 + 인용문 비중
- 선정상 : 기자 명 + 제목  길이 + 제목 물음표･느낌표 + 제목 부사 수 + 문장 평균 부사 수 + 인용문 비중
- 총합

```python
df_kija[1].values #기자명
df_body # 기사길이
df_inyong  # 인용문 수
df_head    # 제목길이
df_headspecial  # 제목 물음표느낌표
df_num   # 수치 인용수
df_sentence  # 평균문장길이
df_headAdj   # 제목 부사 수
body_adverbs_score   # 문장 평균 부사 
```

### 저널리즘 가치 점수

In [304]:
feature1 = df_kija[1].values + df_inyong + df_head + df_headspecial + df_num + df_sentence + df_headAdj + body_adverbs_score +df_body
feature2 = df_kija[1].values + df_inyong + df_body + df_headspecial + df_num + df_inyongPercent
feature3 = df_kija[1].values + df_inyong + df_body + df_headspecial + df_num + df_headAdj + body_adverbs_score + df_inyongPercent
feature4 = df_kija[1].values + df_inyong + df_body + df_num
feature5 = df_kija[1].values + df_inyong + df_body + df_headspecial + df_headAdj + body_adverbs_score + df_inyongPercent
feature6 = df_kija[1].values + df_inyong + df_body + df_head + df_num + df_sentence + df_inyongPercent
feature7 = df_kija[1].values + df_inyong + df_body + df_headspecial + df_num 
feature8 = df_kija[1].values + df_inyong + df_body + df_num
feature9 = df_kija[1].values + df_inyong + df_body + df_num + df_inyongPercent
feature10 = df_kija[1].values + df_head + df_headspecial + df_headAdj + body_adverbs_score + df_inyongPercent

In [312]:
feature_sum = 0
for i in range(1,11):
    feature_sum += eval(f'feature{i}')
feature_sum

0        39.000
1        18.485
2        55.955
3        63.485
4         8.000
          ...
82743     9.485
82744    36.485
82745    49.985
82746    12.500
82747    26.000
Length: 80046, dtype: float64

In [ ]:
feature_sum.to_csv('가치점수.csv', index)

### 저널리즘 가중치 점수(가중치는 논문 참고)

In [313]:
new_feature1 = df_kija[1].values*0.001 + df_inyong*0.001 +df_body*0.003 + df_head*1 + df_headspecial*1.002 + df_num*1.354 + body_adverbs_score*0.5 + df_sentence*1.5 + df_headAdj*2.446
new_feature2 = df_kija[1].values*4.498 + df_inyong*4.5 + df_body*3.003 + df_headspecial*3.619 + df_num*1.454 + df_inyongPercent*0.001
new_feature3 = df_kija[1].values*4.493 + df_inyong*3.501 + df_body*3.503 + df_headspecial*0.001 + df_num*0.502 + df_headAdj*0.5 + body_adverbs_score*1.5 + df_inyongPercent*1
new_feature4 = df_kija[1].values*3.494 + df_inyong*2.001 + df_body*3.498 + df_num*1.956
new_feature5 = df_kija[1].values*2.996 + df_inyong*3 + df_body*3.002 + df_headspecial*1.501 + df_headAdj*0.501 + body_adverbs_score*1 + df_inyongPercent*1
new_feature6 = df_kija[1].values*0.998 + df_inyong*2.501 + df_body*4.994 + df_head*0.5 + df_num*1.953 + df_sentence*0.5 + df_inyongPercent*0.5
new_feature7 = df_kija[1].values*4.494 + df_inyong*3.501 + df_body*4.492 + df_headspecial*3.09 + df_num*1.823 
new_feature8 = df_kija[1].values*2.495 + df_inyong*3.5 + df_body*3.503 + df_num*1.002
new_feature9 = df_kija[1].values*4.496 + df_inyong*3.501 + df_body*4.995 + df_num*1.336 + df_inyongPercent*1
new_feature10 = df_kija[1].values*4.491 + df_head*3.5 + df_headspecial*3.501 + df_headAdj*3.5 + body_adverbs_score*3.5 + df_inyongPercent*3.5

In [314]:
new_feature_sum = 0
for i in range(1,11):
    new_feature_sum += eval(f'new_feature{i}')
new_feature_sum

0        129.475300
1         57.084645
2        180.330035
3        187.114645
4         25.964800
            ...
82743     31.078645
82744    109.096645
82745    148.105645
82746     38.967800
82747     77.976800
Length: 80046, dtype: float64

In [315]:
feature_sum.to_csv('가치점수.csv', index)